.index {
  background-color: #151313;
  font-size: 60px;
  line-height: 50px;
  color: #f3eeee;
  margin: 300px;
  margin-top: 100px;
  padding: 70px 50px 70px 50px;
}

#container {
  position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  margin-top: 200px;
  margin-bottom: 200px;
}
#container:nth-child(2) {
  background-color: rgba(209, 237, 209, 0.3);
}
#container:nth-child(3) {
  background-color: rgba(244, 211, 211, 0.3);
}

.bg-img {
  background-image: url("images/AdobeStock_178658489.jpeg");
  background-color: transparent;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0;
  filter: blur(5px);
}
.bg-img.inview {
  animation-name: kf-img-animation;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.bg-img::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(20, 18, 20, 0.214);
}

.bg-img1 {
  background-image: url("images/AdobeStock_277046896_Preview.jpeg");
  background-color: transparent;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0;
  filter: blur(5px);
}
.bg-img1.inview {
  animation-name: kf-img-animation;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.bg-img1::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(20, 18, 20, 0.214);
}

.bg-img2 {
  background-image: url("images/AdobeStock_181782900-1.jpeg");
  background-color: transparent;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0;
  filter: blur(5px);
}
.bg-img2.inview {
  animation-name: kf-img-animation;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.bg-img2::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(20, 18, 20, 0.214);
}

.bg-img3 {
  background-image: url("images/AdobeStock_223264627_Preview.jpeg");
  background-color: transparent;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0;
  filter: blur(5px);
}
.bg-img3.inview {
  animation-name: kf-img-animation;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.bg-img3::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(20, 18, 20, 0.214);
}

@keyframes kf-img-animation {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.animate-title,
.gsap-animate-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: rgb(255, 255, 255);
  opacity: 0;
}
.animate-title.inview,
.gsap-animate-title.inview {
  opacity: 1;
}
.animate-title.inview .char,
.gsap-animate-title.inview .char {
  display: inline-block;
}
.animate-title .char,
.gsap-animate-title .char {
  opacity: 0;
}

.animate-title.inview .char {
  animation-name: kf-animation-chars;
  animation-delay: 0s;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
}
.animate-title.inview .char:nth-child(1) {
  animation-delay: 0.03s;
}
.animate-title.inview .char:nth-child(2) {
  animation-delay: 0.06s;
}
.animate-title.inview .char:nth-child(3) {
  animation-delay: 0.09s;
}
.animate-title.inview .char:nth-child(4) {
  animation-delay: 0.12s;
}
.animate-title.inview .char:nth-child(5) {
  animation-delay: 0.15s;
}
.animate-title.inview .char:nth-child(6) {
  animation-delay: 0.18s;
}
.animate-title.inview .char:nth-child(7) {
  animation-delay: 0.21s;
}
.animate-title.inview .char:nth-child(8) {
  animation-delay: 0.24s;
}
.animate-title.inview .char:nth-child(9) {
  animation-delay: 0.27s;
}
.animate-title.inview .char:nth-child(10) {
  animation-delay: 0.3s;
}
.animate-title.inview .char:nth-child(11) {
  animation-delay: 0.33s;
}
.animate-title.inview .char:nth-child(12) {
  animation-delay: 0.36s;
}
.animate-title.inview .char:nth-child(13) {
  animation-delay: 0.39s;
}
.animate-title.inview .char:nth-child(14) {
  animation-delay: 0.42s;
}
.animate-title.inview .char:nth-child(15) {
  animation-delay: 0.45s;
}
.animate-title.inview .char:nth-child(16) {
  animation-delay: 0.48s;
}
.animate-title.inview .char:nth-child(17) {
  animation-delay: 0.51s;
}
.animate-title.inview .char:nth-child(18) {
  animation-delay: 0.54s;
}
.animate-title.inview .char:nth-child(19) {
  animation-delay: 0.57s;
}
.animate-title.inview .char:nth-child(20) {
  animation-delay: 0.6s;
}
.animate-title.inview .char:nth-child(21) {
  animation-delay: 0.63s;
}
.animate-title.inview .char:nth-child(22) {
  animation-delay: 0.66s;
}
.animate-title.inview .char:nth-child(23) {
  animation-delay: 0.69s;
}
.animate-title.inview .char:nth-child(24) {
  animation-delay: 0.72s;
}
.animate-title.inview .char:nth-child(25) {
  animation-delay: 0.75s;
}
.animate-title.inview .char:nth-child(26) {
  animation-delay: 0.78s;
}
.animate-title.inview .char:nth-child(27) {
  animation-delay: 0.81s;
}
.animate-title.inview .char:nth-child(28) {
  animation-delay: 0.84s;
}
.animate-title.inview .char:nth-child(29) {
  animation-delay: 0.87s;
}
.animate-title.inview .char:nth-child(30) {
  animation-delay: 0.9s;
}
.animate-title.inview .char:nth-child(31) {
  animation-delay: 0.93s;
}
.animate-title.inview .char:nth-child(32) {
  animation-delay: 0.96s;
}
.animate-title.inview .char:nth-child(33) {
  animation-delay: 0.99s;
}
.animate-title.inview .char:nth-child(34) {
  animation-delay: 1.02s;
}
.animate-title.inview .char:nth-child(35) {
  animation-delay: 1.05s;
}
.animate-title.inview .char:nth-child(36) {
  animation-delay: 1.08s;
}
.animate-title.inview .char:nth-child(37) {
  animation-delay: 1.11s;
}
.animate-title.inview .char:nth-child(38) {
  animation-delay: 1.14s;
}
.animate-title.inview .char:nth-child(39) {
  animation-delay: 1.17s;
}
.animate-title.inview .char:nth-child(40) {
  animation-delay: 1.2s;
}
.animate-title.inview .char:nth-child(41) {
  animation-delay: 1.23s;
}
.animate-title.inview .char:nth-child(42) {
  animation-delay: 1.26s;
}
.animate-title.inview .char:nth-child(43) {
  animation-delay: 1.29s;
}
.animate-title.inview .char:nth-child(44) {
  animation-delay: 1.32s;
}
.animate-title.inview .char:nth-child(45) {
  animation-delay: 1.35s;
}
.animate-title.inview .char:nth-child(46) {
  animation-delay: 1.38s;
}
.animate-title.inview .char:nth-child(47) {
  animation-delay: 1.41s;
}
.animate-title.inview .char:nth-child(48) {
  animation-delay: 1.44s;
}
.animate-title.inview .char:nth-child(49) {
  animation-delay: 1.47s;
}
.animate-title.inview .char:nth-child(50) {
  animation-delay: 1.5s;
}
.animate-title.inview .char:nth-child(51) {
  animation-delay: 1.53s;
}
.animate-title.inview .char:nth-child(52) {
  animation-delay: 1.56s;
}
.animate-title.inview .char:nth-child(53) {
  animation-delay: 1.59s;
}
.animate-title.inview .char:nth-child(54) {
  animation-delay: 1.62s;
}
.animate-title.inview .char:nth-child(55) {
  animation-delay: 1.65s;
}

@keyframes kf-animation-chars {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes kf-animation-chars2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
.btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2rem outset pink;
  outline: 0.1rem solid khaki;
  border-radius: 50px;
  font: 1rem sans-serif;
  margin: 2rem;
  padding: 1em 3em;
  background-color: rgba(243, 234, 234, 0.5);
  box-shadow: 5px 5px 0 0 rgb(47, 49, 50);
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(254, 221, 226, 0.5);
  color: white;
  box-shadow: none;
}

/*  copy scroll tutorial */
/* scroll demo copy code */
img {
  max-width: 100%;
  vertical-align: bottom;
}

.cover-slide {
  position: relative;
  overflow: hidden;
  margin-bottom: 80vh;
}
.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}
.cover-slide.inview::after {
  opacity: 1;
  animation-name: kf-cover-slide;
  animation-delay: 0s;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes kf-cover-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
.img-zoom, .bg-img-zoom {
  opacity: 0;
}
.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: kf-img-show;
  animation-delay: 0s;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  transform: scale(1.05);
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s ease;
  pointer-events: none;
  animation-name: kf-img-show;
  animation-delay: 0s;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  background-image: url(images/AdobeStock_336729630_Preview.jpeg);
  background-image: url(images/image-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.swiper {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */